.form-horizontal
  .fieldset
    .legend
    = simple_form_for @task, :html => { :class => 'form-horizontal' } do |f|
      .row
        .span4
          = f.input :task_name
          = f.input :due_date, :as => :string, :input_html => { :class => 'jquery-ui-date'} 
          = f.input :assigned_to, collection: (@task_owners)
        .span4
          = f.input :task_type, collection: (@task_types)
          = f.input :lead_for_task, collection: (@leads), label: 'For Lead'
      .row.pull-right
        = f.submit class: 'btn btn-primary'
        = link_to 'Cancel', tasks_path, class: "btn btn-danger"

:javascript
  $(document).ready(function() {
   $(".jquery-ui-date").datepicker();
  });
  