.well
  .functions.pull-right
    = link_to 'Create Task', new_task_path, class: 'btn btn-mini'

  %table.table.table-striped
    %thead
      %tr
        %th
          Task Name
        %th
          Due Date
        %th
          Assigned To
        %th
          Task Type
        %th
          Name of Lead
        %th
          Actions
    %tbody
      - @tasks.each do |task|
        %tr
          %td
            = task.task_name
          %td
            = task.due_date.to_s.capitalize
          %td
            = task.assigned_to
          %td
            = task.task_type.to_s.capitalize
          %td
            = task.lead_for_task
          %td
            = link_to 'Edit', task_path(task), class: 'btn btn-mini btn-primary'
            = link_to 'Delete', task_path(task), method: 'delete', class: 'btn btn-mini btn-danger', data: { confirm: 'Are you sure that you want to delete this task?'}