.span12.offset10
  = link_to 'Convert Lead'
%br
  .form-horizontal
    = simple_form_for @lead, :html => { :class => 'form-horizontal' }  do |f|
      %fieldset
        %legend Lead Info
        .row
          .span4
            = f.input :first_name
            = f.input :last_name
            = f.input :email, as: :email
            = f.input :phone
            = f.input :company
            = f.input :comments, as: :text, :input_html => {rows: 5}
          .span4.offset1
            = f.input :lead_owner,      collection:(@lead_owner)
            = f.input :interested_in,   collection:(@lead_interests)
            = f.input :lead_status,     collection:(@lead_status)
            = f.input :lead_source,     collection:(@lead_sources)


      %fieldset
        %legend Address Info
        .row
          .span4
            = f.input :address
            = f.input :city
          .span4
            = f.input :state
            = f.input :zip
        %br
        .row.pull-right 
          = f.submit class: 'btn btn-primary'
          = link_to 'Cancel', leads_path, class: "btn btn-danger"

  %fieldset 
    %legend Lead Activities
    %p Recent Activity for #{@lead.full_name}
    %a{"data-target" => ".new-note", "data-toggle" => "collapse", class: 'btn btn-primary'}
      Add a Note
    .row.new-note.collapse
      .span12.offset2
        = simple_form_for [@lead, Note.new] do |n|
          = n.input :content, as: :text, input_html: {rows: 5, class: "field span9"}
          .span12.offset7
            = n.submit class: 'btn btn-primary'



        