.form-horizontal
  .fieldset
    .legend
    = simple_form_for @contact, :html => { :class => 'form-horizontal' } do |f|
      = f.input :first_name
      = f.input :last_name
      = f.input :company
      = f.input :phone
      = f.input :email
      = f.input :address
      = f.submit class: 'btn btn-large'
  