!!! 5
%html
  %head
    %title Rails CRM
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    %section.container-fluid
      .navigation.navbar
        .nav-collapse
          %ul.pull-left
            %li
              = link_to 'Rails CRM', root_path, class: 'brand'
          %ul.pull-right
            - if user_signed_in?
              %li
                = link_to 'Leads', :leads
              %li
                = link_to 'Tasks', :tasks
              %li
                = link_to 'Contacts', :contacts              
              %li
                = link_to 'Accounts', :accounts
              %li
                = link_to 'Opportunities', :opportunities
              %li
                = link_to 'Edit profile', edit_user_registration_path
              %li
                = link_to 'Logout', destroy_user_session_path, method: :delete
            - else
              %li
                = link_to 'Login', new_user_session_path
              %li
                = link_to 'Register', new_user_registration_path

    - if flash.present?
      %section.container-fluid
        - flash.each do |name, msg|
          %div{:class => "alert alert-#{name == :notice ? "success" : "error"}"}
            / %a.close{"data-dismiss" => "alert"} &#215;
            = content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String) 

    .container
      .span12#content
        = yield
