.form-horizontal
  .fieldset
    .legend
    = simple_form_for @account, :html => { :class => 'form-horizontal' }  do |f|
      .row
        .span4
          = f.input :name
          = f.input :email
          = f.input :assigned_to, collection: (User.all.map(&:first_name).prepend('None'))
          = f.input :website
        .span4
          = f.input :phone
          = f.input :address
      .row.pull-right
        = f.submit class: 'btn btn-primary'
        = link_to 'Cancel', accounts_path, class: "btn btn-danger"
